body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:318px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:103px;
  top:0px;
  width:208px;
  height:548px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:548px;
}
#u1 {
  position:absolute;
  left:2px;
  top:266px;
  width:204px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:116px;
  top:154px;
  width:180px;
  height:166px;
  font-size:11px;
  color:#6FCEB6;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:166px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:107px;
  top:488px;
  width:200px;
  height:58px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:24px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:58px;
}
#u5 {
  position:absolute;
  left:2px;
  top:14px;
  width:196px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:168px;
  top:19px;
  width:76px;
  height:19px;
  font-size:16px;
  color:#CCCCCC;
  text-align:center;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:19px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:180px;
  top:111px;
  width:124px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:11px;
  color:#CCCCCC;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:32px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:163px;
  top:64px;
  width:155px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  color:#6FCEB6;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:20px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:548px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:548px;
}
#u13 {
  position:absolute;
  left:2px;
  top:266px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
