body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:637px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:370px;
  top:112px;
  width:267px;
  height:142px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:142px;
}
#u1 {
  position:absolute;
  left:2px;
  top:63px;
  width:263px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:380px;
  top:121px;
  width:249px;
  height:126px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:126px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:540px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:540px;
}
#u5 {
  position:absolute;
  left:2px;
  top:262px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
}
#u7 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:125px;
  top:12px;
  width:70px;
  height:19px;
  font-size:16px;
  color:#F2F2F2;
  text-align:center;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:19px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:4px;
  top:3px;
  width:45px;
  height:37px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:37px;
}
#u11 {
  position:absolute;
  left:2px;
  top:10px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:0px;
  top:44px;
  width:320px;
  height:496px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:496px;
}
#u13 {
  position:absolute;
  left:2px;
  top:240px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:9px;
  top:110px;
  width:302px;
  height:300px;
  font-size:16px;
  color:#19A79C;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:300px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  word-wrap:break-word;
}
