body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:548px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:548px;
}
#u1 {
  position:absolute;
  left:2px;
  top:266px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:-8px;
  width:320px;
  height:420px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:420px;
}
#u3 {
  position:absolute;
  left:2px;
  top:202px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:12px;
  top:463px;
  width:141px;
  height:40px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:40px;
}
#u5 {
  position:absolute;
  left:2px;
  top:12px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:82px;
  top:409px;
  width:150px;
  height:40px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u7 {
  position:absolute;
  left:2px;
  top:12px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:162px;
  top:463px;
  width:141px;
  height:40px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:40px;
}
#u9 {
  position:absolute;
  left:2px;
  top:12px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:54px;
  top:472px;
  width:58px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
  text-align:center;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:204px;
  top:472px;
  width:58px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:24px;
  top:205px;
  width:266px;
  height:139px;
  overflow:hidden;
}
#u14_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:139px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u14_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u15 {
  position:absolute;
  left:-1px;
  top:-3px;
  width:267px;
  height:142px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:142px;
}
#u16 {
  position:absolute;
  left:2px;
  top:63px;
  width:263px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:9px;
  top:17px;
  width:249px;
  height:115px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:115px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  word-wrap:break-word;
}
