body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:215px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:215px;
}
#u1 {
  position:absolute;
  left:2px;
  top:100px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:258px;
  width:320px;
  height:67px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:67px;
}
#u3 {
  position:absolute;
  left:2px;
  top:26px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:325px;
  width:320px;
  height:67px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:67px;
}
#u5 {
  position:absolute;
  left:2px;
  top:26px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:479px;
  width:320px;
  height:67px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:67px;
}
#u7 {
  position:absolute;
  left:2px;
  top:26px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:0px;
  top:402px;
  width:320px;
  height:67px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:67px;
}
#u9 {
  position:absolute;
  left:2px;
  top:26px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:0px;
  top:556px;
  width:62px;
  height:61px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:61px;
}
#u11 {
  position:absolute;
  left:2px;
  top:22px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:83px;
  top:556px;
  width:62px;
  height:61px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:61px;
}
#u13 {
  position:absolute;
  left:2px;
  top:22px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:173px;
  top:556px;
  width:62px;
  height:61px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:61px;
}
#u15 {
  position:absolute;
  left:2px;
  top:22px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:258px;
  top:556px;
  width:62px;
  height:61px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:61px;
}
#u17 {
  position:absolute;
  left:2px;
  top:22px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:15px;
  top:15px;
  width:22px;
  height:12px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:12px;
}
#u19 {
  position:absolute;
  left:2px;
  top:-2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:0px;
  top:215px;
  width:320px;
  height:43px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:43px;
}
#u21 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:162px;
  top:223px;
  width:120px;
  height:28px;
  opacity:0;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:28px;
}
#u23 {
  position:absolute;
  left:2px;
  top:6px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:277px;
  top:4px;
  width:43px;
  height:35px;
  opacity:0;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:35px;
}
#u25 {
  position:absolute;
  left:2px;
  top:10px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
