body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:319px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:542px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:542px;
}
#u1 {
  position:absolute;
  left:2px;
  top:263px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
}
#u3 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:44px;
  width:320px;
  height:270px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:270px;
}
#u5 {
  position:absolute;
  left:2px;
  top:127px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:14px;
  top:490px;
  width:292px;
  height:42px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:42px;
}
#u7 {
  position:absolute;
  left:2px;
  top:13px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:-1px;
  top:118px;
  width:320px;
  height:38px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:38px;
}
#u9 {
  position:absolute;
  left:2px;
  top:11px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:4px;
  top:161px;
  width:302px;
  height:33px;
  opacity:0;
  font-size:17px;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:33px;
}
#u11 {
  position:absolute;
  left:2px;
  top:8px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:0px;
  top:240px;
  width:302px;
  height:33px;
  opacity:0;
  font-size:17px;
  color:#FFFFFF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:33px;
}
#u13 {
  position:absolute;
  left:2px;
  top:8px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:2px;
  top:279px;
  width:302px;
  height:33px;
  opacity:0;
  font-size:17px;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:33px;
}
#u15 {
  position:absolute;
  left:2px;
  top:8px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:27px;
  top:130px;
  width:266px;
  height:170px;
  overflow:hidden;
}
#u16_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:170px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u16_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:172px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:172px;
}
#u18 {
  position:absolute;
  left:2px;
  top:78px;
  width:262px;
  visibility:hidden;
  word-wrap:break-word;
}
