body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u1 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:14px;
  top:36px;
  width:22px;
  height:12px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:12px;
}
#u3 {
  position:absolute;
  left:2px;
  top:-2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:276px;
  top:25px;
  width:43px;
  height:35px;
  opacity:0;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:35px;
}
#u5 {
  position:absolute;
  left:2px;
  top:10px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:240px;
  top:252px;
  width:60px;
  height:60px;
  opacity:0;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u7 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:167px;
  top:252px;
  width:60px;
  height:60px;
  opacity:0;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u9 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:93px;
  top:252px;
  width:60px;
  height:60px;
  opacity:0;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u11 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:19px;
  top:252px;
  width:60px;
  height:60px;
  opacity:0;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u13 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:4px;
  top:322px;
  width:152px;
  height:35px;
  opacity:0;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:35px;
}
#u15 {
  position:absolute;
  left:2px;
  top:10px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:1px;
  top:360px;
  width:315px;
  height:60px;
  opacity:0;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:60px;
}
#u17 {
  position:absolute;
  left:2px;
  top:22px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:0px;
  top:427px;
  width:315px;
  height:60px;
  opacity:0;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:60px;
}
#u19 {
  position:absolute;
  left:2px;
  top:22px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:0px;
  top:490px;
  width:315px;
  height:60px;
  opacity:0;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:60px;
}
#u21 {
  position:absolute;
  left:2px;
  top:22px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
