body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:-20px;
  width:320px;
  height:568px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u1 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:8px;
  top:11px;
  width:72px;
  height:39px;
  opacity:0;
  font-size:17px;
  color:#FFFFFF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:39px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:20px;
  top:298px;
  width:280px;
  height:39px;
  opacity:0;
  font-size:17px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:39px;
}
#u5 {
  position:absolute;
  left:2px;
  top:12px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
