body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u1 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:568px;
  opacity:0;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:568px;
}
#u3 {
  position:absolute;
  left:2px;
  top:276px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:104px;
  top:0px;
  width:216px;
  height:568px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:568px;
}
#u5 {
  position:absolute;
  left:2px;
  top:276px;
  width:212px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:110px;
  top:244px;
  width:200px;
  height:20px;
  opacity:0;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u7 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:0px;
  top:352px;
  width:320px;
  height:216px;
  overflow:hidden;
  visibility:hidden;
}
#u8_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:216px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u8_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:216px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:216px;
}
#u10 {
  position:absolute;
  left:2px;
  top:100px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
