body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:319px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:542px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:542px;
}
#u1 {
  position:absolute;
  left:2px;
  top:263px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
}
#u3 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:44px;
  width:320px;
  height:270px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:270px;
}
#u5 {
  position:absolute;
  left:2px;
  top:127px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:14px;
  top:490px;
  width:292px;
  height:42px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:42px;
}
#u7 {
  position:absolute;
  left:2px;
  top:13px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:-1px;
  top:118px;
  width:320px;
  height:38px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:38px;
}
#u9 {
  position:absolute;
  left:2px;
  top:11px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:274px;
  top:127px;
  width:32px;
  height:20px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:20px;
}
#u11 {
  position:absolute;
  left:2px;
  top:2px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:4px;
  top:161px;
  width:302px;
  height:33px;
  opacity:0;
  font-size:17px;
  color:#FFFFFF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:33px;
}
#u13 {
  position:absolute;
  left:2px;
  top:8px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:0px;
  top:240px;
  width:302px;
  height:33px;
  opacity:0;
  font-size:17px;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:33px;
}
#u15 {
  position:absolute;
  left:2px;
  top:8px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:2px;
  top:279px;
  width:302px;
  height:33px;
  opacity:0;
  font-size:17px;
  color:#FFFFFF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:33px;
}
#u17 {
  position:absolute;
  left:2px;
  top:8px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:15px;
  top:16px;
  width:22px;
  height:12px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:12px;
}
#u19 {
  position:absolute;
  left:2px;
  top:-2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:1px;
  top:200px;
  width:302px;
  height:33px;
  opacity:0;
  font-size:17px;
  color:#FFFFFF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:33px;
}
#u21 {
  position:absolute;
  left:2px;
  top:8px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:0px;
  top:80px;
  width:318px;
  height:33px;
  opacity:0;
  font-size:17px;
  color:#FFFFFF;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:33px;
}
#u23 {
  position:absolute;
  left:2px;
  top:8px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
