body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:-20px;
  width:320px;
  height:568px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u1 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:233px;
  top:88px;
  width:87px;
  height:102px;
  opacity:0.6;
  font-size:18px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:102px;
}
#u3 {
  position:absolute;
  left:2px;
  top:43px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:233px;
  top:88px;
  width:87px;
  height:102px;
  overflow:hidden;
  visibility:hidden;
}
#u4_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:102px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u4_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:102px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:102px;
}
#u6 {
  position:absolute;
  left:2px;
  top:43px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:0px;
  top:332px;
  width:320px;
  height:216px;
  overflow:hidden;
  visibility:hidden;
}
#u7_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:216px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u7_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:216px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:216px;
}
#u9 {
  position:absolute;
  left:2px;
  top:100px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:6px;
  top:51px;
  width:245px;
  height:28px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:28px;
}
#u11 {
  position:absolute;
  left:2px;
  top:6px;
  width:241px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:261px;
  top:51px;
  width:49px;
  height:27px;
  opacity:0;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:27px;
}
#u13 {
  position:absolute;
  left:2px;
  top:6px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:41px;
  top:242px;
  width:39px;
  height:37px;
  opacity:0;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:37px;
}
#u15 {
  position:absolute;
  left:2px;
  top:10px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:86px;
  top:242px;
  width:124px;
  height:37px;
  opacity:0;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:37px;
}
#u17 {
  position:absolute;
  left:2px;
  top:10px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
}
#u19 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:121px;
  top:4px;
  width:73px;
  height:36px;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:36px;
}
#u21 {
  position:absolute;
  left:0px;
  top:7px;
  width:73px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:6px;
  top:5px;
  width:44px;
  height:36px;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:36px;
}
#u23 {
  position:absolute;
  left:0px;
  top:10px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:276px;
  top:5px;
  width:44px;
  height:36px;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:36px;
}
#u25 {
  position:absolute;
  left:0px;
  top:10px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:137px;
  top:33px;
  width:42px;
  height:9px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:9px;
}
#u27 {
  position:absolute;
  left:2px;
  top:-4px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
