body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u1 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:15px;
  top:36px;
  width:22px;
  height:12px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:12px;
}
#u3 {
  position:absolute;
  left:2px;
  top:-2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:270px;
  top:25px;
  width:43px;
  height:35px;
  opacity:0;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:35px;
}
#u5 {
  position:absolute;
  left:2px;
  top:10px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:189px;
  top:64px;
  width:130px;
  height:76px;
  opacity:0.6;
  font-size:18px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:76px;
}
#u7 {
  position:absolute;
  left:2px;
  top:30px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:189px;
  top:64px;
  width:130px;
  height:76px;
  overflow:hidden;
  visibility:hidden;
}
#u8_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:76px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u8_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:76px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:76px;
}
#u10 {
  position:absolute;
  left:2px;
  top:30px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:0px;
  top:1px;
  width:130px;
  height:35px;
  opacity:0;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:35px;
}
#u12 {
  position:absolute;
  left:2px;
  top:10px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:0px;
  top:41px;
  width:130px;
  height:35px;
  opacity:0;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:35px;
}
#u14 {
  position:absolute;
  left:2px;
  top:10px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:23px;
  top:197px;
  width:60px;
  height:62px;
  opacity:0;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:62px;
}
#u16 {
  position:absolute;
  left:2px;
  top:23px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:96px;
  top:197px;
  width:61px;
  height:62px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:62px;
}
#u18 {
  position:absolute;
  left:2px;
  top:23px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:171px;
  top:196px;
  width:61px;
  height:62px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:62px;
}
#u20 {
  position:absolute;
  left:2px;
  top:23px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:245px;
  top:197px;
  width:61px;
  height:62px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:62px;
}
#u22 {
  position:absolute;
  left:2px;
  top:23px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
