body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:319px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:820px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:820px;
}
#u1 {
  position:absolute;
  left:2px;
  top:402px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:-1px;
  top:-33px;
  width:321px;
  height:844px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:844px;
}
#u3 {
  position:absolute;
  left:2px;
  top:414px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:60px;
  top:611px;
  width:201px;
  height:29px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:29px;
}
#u5 {
  position:absolute;
  left:2px;
  top:6px;
  width:197px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
}
#u7 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:125px;
  top:12px;
  width:70px;
  height:19px;
  font-size:16px;
  color:#F2F2F2;
  text-align:center;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:19px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:4px;
  top:3px;
  width:45px;
  height:37px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:37px;
}
#u11 {
  position:absolute;
  left:2px;
  top:10px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:27px;
  top:198px;
  width:266px;
  height:172px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:172px;
}
#u13 {
  position:absolute;
  left:2px;
  top:78px;
  width:262px;
  visibility:hidden;
  word-wrap:break-word;
}
